@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #AFBFD5;
  --foreground: #181E25;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #45455E;
    --foreground: #AFBFD5;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
  font-family: Arial, Helvetica, sans-serif;
}

.background-tiling {
  background-image: url('/cork_tile.png');
  background-repeat: 'repeat';
}
