@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  font-size: 100%
}

:root {
  --background: #faf7f4;
  --foreground: #181E25;
  height: 100%;
  width: 100%;


}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #45455E;
    --foreground: #AFBFD5;
    --background: #faf7f4;*/
    --background: #d9c2a7;
    --foreground: #181E25;
    
    height: 100%;
    width: 100%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin:0;
  padding:0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  height: 100%;
  width: 100%;
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 0.875em;
}

.container-full {
  display: flex;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;

}

.background-tiling {
  background-image: url('/cork_tile.png');
  background-repeat: 'repeat';
}

.sidebar-box {
  top: 0;
  float: left;
  order: 1;
 

  height: 100%;
  width: 20%;
  flex-basis: 20%;

}

.sticky-nav {
  flex-basis: 25%;
  width: 100%;
  height:100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
 /* height: 80%;
  width: 80%;
  object-fit: contain;*/

}

.sticky-img {
  width: 100%;
  height:100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}

.sidebar {
  top: 0;
  float: left;
  order: 1;
  position: fixed;
  object-fit: contain;

  height: 100%;
  width: 20%;
  display: inline-flex;
  flex-direction: column;

  background-color: #d9c2a7;
  /*background-image: url('../src/cork_tile.png');
  background-repeat: 'repeat';
  background-size: 50%;*/
  margin: 0;
  padding: 0;
  

}

.sidebar-content {
  flex: auto;
  order: 2;
  align-items: center;
  justify-items: start;
  display: inline-flex;

  flex-basis: 80%;
  min-height: 0;
  min-width: 0;

  object-fit: contain;

  flex-direction: column;
  width: 100%;
  
  margin: 0;
  padding:30;
}


.content {
  flex-basis: 80%;
  order: 2;
  margin: auto;
  height: 100%;
  width: 80vw;
  justify-items: center;
  align-items: center;
}

/*fixed top-0 left-0 h-screen w-20vw bg-gray-200"*/
